# dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build

# env files — never commit these
.env
.env*.local

# debug
npm-debug.log*
yarn-error.log*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
